name: Update

on:
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * 1'

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - id: app-token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ vars.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}
      - uses: actions/checkout@v6
        with:
          ref: main
          token: ${{ steps.app-token.outputs.token }}
      - uses: DeterminateSystems/nix-installer-action@v21
        with:
          extra-conf: |
            substituters = https://cache.nixos.org https://rosnix.cachix.org
            trusted-public-keys = cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY= rosnix.cachix.org-1:FiqDDVzOzRB9i2Ai/sHxXkhRr71LRF/3i8QEjju70o8=
      - name: Configure Git
        run: |
          git config --global user.name "rosnix-maintenance[bot]"
          git config --global user.email "179381774+rosnix-maintenance[bot]@users.noreply.github.com"
      - name: Update 
        run: |
          nix flake update --commit-lock-file
          nix run .#ci-update
      - name: Update main branch
        run: |
          git push origin main

